body {
  font-family: sans-serif;
  max-width: 38rem;
  margin: 0 auto;
  padding: 3rem 1rem;
  line-height: 1.4;
  background-color: #f5f5f5;
}

aside {
  font-style: italic;
}

nav {
  border: 1px solid #2b2b2b;
  padding: 0.5rem;
}

header {
  margin-bottom: 3rem;
}

header > * {
  margin: 0;
}
